// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    color:$color-yellow;
    border: solid $color-yellow 1px;
    padding:1rem 2rem;
    transition: all 0.2s ease-in-out;
    font-size:1.1rem;
    text-transform:uppercase;
}
.btn:hover {
    color:$color-dark-gray;
    background-color:$color-yellow;
}
.primary-btn{
    color:$color-dark-gray;
    background-color:$color-yellow;
    margin-right: 0.2rem;
}
.primary-btn:hover {
    color:$color-yellow;
    border: solid $color-yellow 1px;

    background-color:transparent;
}

.arrow-top{
    display: block;

    width: 2.5rem;
    position: fixed;
    z-index: 2000;
    bottom: 1rem;
    right: 1rem;

    cursor: pointer;
    outline: none;
    border:none;

    background-color: $color-dark-gray;

    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    padding: 0.3rem;
    border-radius:50%;

    svg{
        fill: $color-white;
    }
  }
  
  .arrow-top:hover {
    svg{
        fill: $color-yellow;
    }
  }

.btnAppears {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }


