@keyframes beat {
    to {
        transform: scale(1.1);
    }
}


#bubbles {
    //padding: 10px 0;
  }
  
  .bubble {
    mix-blend-mode: multiply;
    border-radius: 100%;
    position: absolute;
    transition: all 800ms ease;
  }
  
  .bubble:hover {
    transform: scale(1);
    transform: translateX(3rem) translateY(-3rem);
  
  }
  
  .x1 {
    background: $color-lighter-gray;
    right: 28rem;
    top:9rem;
    transform: scale(1.2);
    animation: fade-in 1.3s, moveclouds 30s linear infinite alternate, sideWays 28s ease-in-out infinite alternate, sparky 3s linear infinite;
  }
  
  .x2 {
    background: $color-yellow;
    right: 60rem;
    top:20rem;
    transform: scale(0.6);
    animation: fade-in 0.7s, moveclouds 10s linear infinite alternate, sideWays 10s ease-in-out infinite alternate, sparky 2s linear infinite;
  }
  
  .x3 {
    background: #111827a1;
    right: 48rem;
    top:25rem;
    transform: scale(0.1);
    animation: fade-in 0.5s, moveclouds 4s linear infinite alternate, sideWays 2s linear infinite alternate, sparky 2s linear infinite;
  }
  
  .x4 {
    background: #6DC;
    right: 22rem;
    top:23rem;
    transform: scale(0.8);
    animation: fade-in 0.2s, moveclouds 7s linear infinite alternate, sideWays 4s ease-in-out infinite alternate, sparky 3s linear infinite;
  }
  
  .x5 {
    background: #FFF;
    mix-blend-mode: soft-light;
    right: 30rem;
    top:35rem;
    transform: scale(0.5);
    animation: fade-in 1.2s, moveclouds 18s linear infinite alternate, sideWays 13s ease-in-out infinite alternate, sparky 2s linear infinite;
  }
  .x6 {
    background: #26096973;
    mix-blend-mode: soft-light;
    right: 50rem;
    top:40rem;
    transform: scale(0.5);
    animation: fade-in 1.2s, moveclouds 18s linear infinite alternate, sideWays 13s ease-in-out infinite alternate, sparky 2s linear infinite;
  }
  .x7 {
    background: rgb(236, 163, 28);
    mix-blend-mode: soft-light;
    right: 50rem;
    top:8rem;
    transform: scale(0.5);
    animation: fade-in 1.2s, moveclouds 18s linear infinite alternate, sideWays 13s ease-in-out infinite alternate, sparky 2s linear infinite;
  }
  
  .pause{
    animation-play-state: paused;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes moveclouds {
    0% {
      margin-top: 0px;
    }
    100% {
      margin-top: 50px;
    }
  }
  
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  @keyframes sparky {
    0% {
      width: 100px;
      height: 100px;
    }
    50% {
      width: 110px;
      height: 110px;
    }
    100% {
      width: 100px;
      height: 100px;
    }
  }