---
layout: base
title: Blog
eleventyNavigation: 
    key: Blog
    order: 3  
---

<section class="projects  blogs">
    <article class="inner--wrapper">
        <p class="sub-title">Blog</p>
        <h2 class="center padding-btm">Check Who Visited</h2>
        <ul class="blogs__list">
            {% for blog in blogs | sort %}
                <li class="blogs__list--item">
                    <article class="blogs-img-text">
                        <div class="blogs-img">
                            <img src="../assets/img/{{blog.img}}" alt="{{blog.title}}">
                        </div>
                        <div class="blogs-text">
                            <h3><span class="bolder">Company</span>: <a href="{{blog.url}}" target="_blank">{{blog.company}}</a></h3>
                            <h4><span class="bolder">Guest Speaker</span>: {{blog.name}}</h4>
                            <p class="dateItem"><span class="bolder">Date</span>: {{blog.date}}</p>
                        </div>
                    </article>
                    <article class="blogs-summary">
                        <h2><span>{{blog.title}}</h2>
                        <p>{{blog.text}}</p>
                        <p>{{blog.learn}}</p>
                    </article>
                </li> 
            {% endfor %}
        </ul>
    </article>
</section>    