---
layout: base
title: Blog
eleventyNavigation: 
    key: Blog
    order: 3   
---
<div class="wrapper wrapper-about">
 
 <section class="contact">
    {% include "_components/contactDue.njk" %}
</section>  
</div>