---
layout: base
title: Home
eleventyNavigation: 
    key: Home
    order: 1  
---

{# <section class="hero row">
    {% include "_components/hero.njk" %}
</section> #}

<section class="hero">
    {% include "_components/hero.njk" %}
</section>

<section class="about">
    {% include "_components/about.njk" %}
</section>

{% if services | length  %}
    <section class="services">
            {% include "_components/services.njk" %}
    </section>
{% endif %}

<section class="projects">
    <article class="inner--wrapper">
            <p class="sub-title">Projects</p>
            <h2 class="center">Explore My Work</h2>
            <ul class="list">
                {% for project in collections.projects %}
                    {% if project.data.highlighted %}
                        {% include "_components/projects.njk" %}
                    {% endif %}
                {% endfor %}
            </ul>
            <a class="btn btn__secondary" href="{{ '/projects' | url }}">See All </a>
        </article>
</section>
<section class="contact">
    {% include "_components/contact.njk" %}
</section>  
