.contact{
    h2{
        margin-bottom: 3rem;
    }
    &__inner{
    display: grid;
    grid-template-columns: repeat(1fr);
    svg{
        width:3rem;
    }
    svg:hover{
       fill: $color-white;
       cursor: pointer;
    }
    a{
        color:$color-white;
    }
    &--list{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;

       .contact-info{
           padding-bottom: 1rem;
           display: flex;
           align-items:center;
          svg{
            margin-right: 0.6rem;
          }

       }
       .contact-bottom{
          
           li{
            padding-bottom:1rem;
           }

        }
    }
    .blog{
        border-right: none;
        border-bottom: 1px solid $color-yellow;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 2rem;
        padding-bottom: 2rem;

        &__list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 1rem;
            column-gap: 1rem;
            li{
                img{
                    width: 40%;
                }

            }
        
            }

        }
    }
    
    @media (min-width:37.5rem){

        &__inner{
            .blog{
                &__list{
                    grid-template-columns: repeat(5, 1fr);
                    li{
                        img{
                            width: 45%;
                        }
        
                    }
                   
                }   
            }
        }
    }

    @media (min-width:62.5rem){
        &__inner{
            grid-template-columns: 2fr 1fr;

            .blog{
                &__list{
                    // grid-template-columns: repeat(5, 1fr);
                    li{
                        img{
                            width: 55%;
                        }
        
                    }
                   
                }   
                border-right: 1px solid $color-yellow;
                border-bottom: none;
                padding-right: 2rem;
                padding-bottom: 0;
                margin-right: 2rem;
                margin-bottom: 0;
                
            }

        }
    }

}