// .heart {
// 	animation: beat .25s infinite alternate;
// 	transform-origin: center;
// }

/* Heart beat animation */
.hero{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;

    &__inner{
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &--left{
            h1{
               text-transform:uppercase;
               font-size:3rem;
            }
            hr{
                background-color: $color-yellow;
                border-color: $color-yellow;
                width:6.5rem;
                height: 0.2rem;
                display: inline-block;
            }
            h2{
                margin-top: 1rem;
                margin-bottom: 4rem;
                color:rgb(212, 211, 211);
            }
           .buttons{
                display:flex;
                flex-wrap: wrap;
                justify-content: center;

                a:nth-child(1){
                    margin-right:0rem;
                }
                a{
                    margin-bottom: 1rem; 
                }
           }

        }
        &--right{
            display:flex;
            justify-content:center;
            margin-top: 2rem;
            .hero__image{
                width:38%;
                border-radius: 50%;
                border: 2px dotted $color-light-gray;
                //background-color:$color-light-gray;
                padding: 4rem
            }
        }
    }

}

@media (min-width:29rem){
    .hero{

        &__inner{
            
            &--left{
                .buttons{
                    a:nth-child(1){
                        margin-right:1rem;
                    }
                }
                
            }
         }
    }
   
}

@media (min-width:62.5rem){
    .hero{
        text-align: left;
        margin-top: 6rem;

        &__inner{
            grid-template-columns: 2fr 1fr;
            
            &--left{
                h1{
                    font-size:4rem
                }
                .buttons{
                    font-size:4rem;
                    justify-content: left;
                }
                
            }
            &--right{
                margin-top:0rem;
                .hero__image{
                    width:20rem;
                }
            }
        }
    }
   
}
