.projects{
    background-color: $color-light-gray;
    .list{
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1fr);
        row-gap: 2rem;
        column-gap: 2rem;

        // flex-wrap: wrap;
        // justify-content: space-between;
    }
    @media (min-width:37.5rem){
        .list{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width:62.5rem){
        .list{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}