body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    color: $color-white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Kameron', 'serif';
}

h1 {
    font-size: 4rem;
    color:$color-white
}

h2 {
    font-size: 2rem;
    color:$color-white;
}
main{
   
}

.base-title {
    font-size: $text-md;
}
.sub-title{
    color:$color-yellow;
    text-transform: uppercase;
}
.text{
    width:100%;
    display: inline-block;
    text-align: center;
}

@media (min-width:37.5rem){
    .text{
        width:70%;
    }
}

