---
layout: base 
---
<header class="header-post">
    {% if img %}
        <img class="header-post__post--post" src="/assets/img/{{img}}"  alt="#"/>       
    {% endif %}  
</header > 

<div class="post-wrapper">
    <main class="post-wrapper__main">
        <div class="post-wrapper__main--top">
            <img class="" src="/assets/img/member4.jpg" alt="the author Grace Robertson"/>
            <div>
                <small class="author">{{ author }} </small>
                <small class="date" >{{ dateCreated }} - 4 min read</small>
            </div>
        </div>

        <hr class="style-six">

        <article class="post-wrapper__main--bottom">
            {{ content | safe }}
        </article>
        <hr class="style-six style-six-extra">
    </main> 
    <div class="post-wrapper__aside">
        {% if collections.projects | length %}
            <section class="container">
                <ul>
                    {% for project in collections.projects %}
                        {% if project.url !== page.url %}
                            {# <li style="background-image:url('../assets/img/{{ project.data.img }}')"> #}

                                {# <img src="/assets/img/{{ project.data.img }}" alt="news cover image">
                                <a href="{{ project.url }}">
                                    {{ project.data.title }}
                                </a> #}
                                  <div class="card">

                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        {% endif %} 
    </div>
</div> 



   