---
layout: base
title: Projects Page
tags:
eleventyNavigation:
    key: Projects
    order: 2    
---

<section class="projects">
    <article class="inner--wrapper ">
        <ul class="projects__list">
            {% for project in collections.projects | reverse %}
                {% include "_components/projectPage.njk" %}
            {% endfor %}
        </ul>
    </article>
</section>