---
layout: base
title: Projects Articles  
tags:
eleventyNavigation:
    key: Projects
    order: 2    
---

<section class=" projects-index">
    <ul class="news-index__list">
        {% for project in collections.projects %}
            {% include "_components/projects.njk" %}
        {% endfor %}
    </ul>
</section>
