---
layout: base
title: Projects Page
tags:
eleventyNavigation:
    key: Projects
    order: 2    
---

<section class="projects">
    <article class="inner--wrapper ">
        <p class="sub-title">Projects</p>
        <h2 class="center padding-btm">Explore My Work</h2>
        <ul class="projects__list">
            {% for project in collections.projects | reverse %}
                {% include "_components/projectPage.njk" %}
            {% endfor %}
        </ul>
    </article>
</section>
 <section class="contact">
    {% include "_components/contactDue.njk" %}
</section> 