   <div class="about__inner inner--wrapper">
        <p class="sub-title">About</p>
        <h2 class="center">Who I Am</h2>
        <p class="text">I'm a Belgian-based South African front-end web developer and designer. I work to create high-performance, vibrantly interactive websites that are compatible with all platforms and devices. Despite my familiarity with frameworks, my websites are largely bulid using in HTML5, CSS3, and JavaScript. With a strong focus on "Progressive Enhancement," I seek out innovative ways to push the limits of website front-end code while maintaining browser support and efficiency. In order to stay current, I read books and attend conferences and meetups. </p>
    </div>