   <div class="about__inner inner--wrapper">
        <p class="sub-title">About</p>
        <h2 class="center">Who I Am</h2>
        <p class="text">I'm a Belgian-based front-end developer and designer from South Africa. I work on websites that are fast, interactive, and cross-platform and device compatible. Despite my familiarity with a few frameworks and libraries, the majority of my websites are built with HTML5, CSS3, and JavaScript. With a focus on "Progressive Enhancement," I'm continuously exploring for new ways to push the boundaries of front-end coding while still maintaining browser support and performance.</p>
        <p class="text">I read books, follow programmer blogs, subscribe to several newsletters and YouTube channels, and would enjoy to attend conferences and meetups to keep current.</p>
    </div>