   <div class="about__inner inner--wrapper">
        <p class="sub-title">About</p>
        <h2 class="center">Who I Am </h2>
        <p class="text">I'm a Belgian-based front-end web developer and designer from South Africa. I work on websites that are high-performing, vibrantly interactive, and cross-platform and device compatible. Despite my knowledge of frameworks and libraries like as NodeJS (backend), Express JS (backend), React JS (frontend), ESLint, Jest (testing), Nunjucks, Eleventy, SCSS/SASS, and Bootstrap (style), the majority of my websites are constructed using HTML5, CSS3, and JavaScript. With a focus on "Progressive Enhancement," I'm continuously exploring for new ways to push the boundaries of website front-end coding while still maintaining browser support and performance.I read books, follow programmer blogs, subscribe to several newsletters and YouTube channels, and attend conferences and meetups to keep current.</p>
    </div>