
        <footer class="footer ">
            <article class="footer__bottom inner--wrapper">
                Copyright {{ helpers.currentYear() }} @ Thabisa Dingani
            </article>
        </footer>
