
  

{# wanna create it somewhere #}
    <div class="hero__inner inner--wrapper">
        <div class="hero__inner--left">
            <h1 class="hero__decoration--title">Thabisa Dingani</h1>
            <hr>
            <h2 class="hero__decoration--text text-white">Web Designer & Developer</h2>
            <div class="buttons">
                <a href="#contact" class="btn primary-btn">Contact Me</a>
                <a href="./assets/img/thabisa_dingani_resume.pdf" download class="btn ">Download CV</a>
            </div>
        </div>
        <div class="hero__inner--right">
            <div class="hero__image">
                <img class="" src="./assets/img/thabisa-dingani.png" alt="Thabisa Dingani">
            </div>
            <div id="bubbles">
                <div class="bubble x1"></div>
                <div class="bubble x2"></div>
                <div class="bubble x3"></div>
                <div class="bubble x4"></div>
                <div class="bubble x5"></div>
                <div class="bubble x6"></div>
                <div class="bubble x7"></div>
            </div>
        </div>
    </div>
