

<li class="list--item" style="background-image: url('./assets/img/{{ project.data.img | url}}')">
  <a><div class="overlay">
    <div class = "items"></div>
    <div class = "items head">
      <h3>{{ project.data.title }}</h3>
      <hr>
    </div>
    <div class = "items date">
       <p class="date--item"></p>
       {# {{ project.data.dateCreated }} #}
    </div>
 </div>
 </a>
</li>


